{
	"semi": false,
	"trailingComma": "all",
	"singleQuote": false,
	"printWidth": 100,
	"tabWidth": 2,
	"useTabs": true,

	"editor.formatOnSave": true,
	"[javascript]": {
		"editor.formatOnSave": false
	},
	"editor.codeActionsOnSave": {
		"source.fixAll.eslint": true
	},
	"eslint.alwaysShowStatus": true,
	"files.autoSave": "onFocusChange"
}
